.hero-img {
  height: 400px;
  /* Altura da imagem  */
  width: 100%;
  /* Largura da imagem  */
  background-image: url("../img/hero-mobile.jpg");
  /* Essa propriedade define a imagem de fundo usando a URL relativa para a imagem desktop */
  /* Também tenho a opção de usar "background: url("../img/hero-desktop.png") no-repeat;" e não escrevo background-repeat: no-repeat;  Isso faz economizar espaço e codigo mais limpo */
  background-repeat: no-repeat;
  /* Impede que a imagem se repita */
  background-size: cover;
  /* Faz com que a imagem cubra toda a área disponível, mantendo sua proporção */
  background-position: center;
  /* Centraliza a imagem dentro do elemento */
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    /* Altura da imagem  */
    background-image: url("../img/hero-tablet.jpg");
    /* Essa propriedade define a imagem de fundo usando a URL relativa para a imagem desktop */
    /* Também tenho a opção de usar "background: url("../img/hero-desktop.png") no-repeat;" e não escrevo background-repeat: no-repeat;  Isso faz economizar espaço e codigo mais limpo */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    background-size: cover;
    /* Faz com que a imagem cubra toda a área disponível, mantendo sua proporção */
    background-position: center;
    /* Centraliza a imagem dentro do elemento */
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    /* Altura da imagem.  Por ser o mesmo tamanho do tablet ele pode ser herdado. */
    background-image: url("../img/hero-desktop.jpg");
    /* Essa propriedade define a imagem de fundo usando a URL relativa para a imagem desktop */
    /* Também tenho a opção de usar "background: url("../img/hero-desktop.png") no-repeat;" e não escrevo background-repeat: no-repeat;  Isso faz economizar espaço e codigo mais limpo */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    background-size: cover;
    /* Faz com que a imagem cubra toda a área disponível, mantendo sua proporção */
    background-position: center;
    /* Centraliza a imagem dentro do elemento */
  }
}
